<%- layout('dashboard_layout') %>

<div id="ban_ip" class="modal white_border black white-text">
    <div class="modal-content">
        <h4>Confirmación</h4>
        <p>Estas seguro de bloquear <span id="toblock"></span></p>
    </div>
    <div class="modal-footer black white-text">
        <a href="#!" id="summit" class="modal-close waves-effect waves-green white-text btn-flat">Aceptar</a>
        <a href="#!" id="cancel" class="modal-close waves-effect waves-green white_border btn">Cancelar</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m4 push-m8">
            <h5 class="white-text">Ban Manual</h5>
            <div class="input-field">
                <input placeholder="255.255.255.255" id="ip_address_manual" type="text" class="validate white-text">
                <label for="ip_address_manual">IP Address</label>
            </div>
            <div>
                <a href="#!" id="banManual" class="modal-close waves-effect waves-light white_border btn">Bloquear</a>
            </div>
        </div>
        <div class="col s12 m8 pull-m4">
            <h5 class="white-text">Atacantes</h5>
            <table class="highlight white-text responsive-table centered">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Cero</th>
                        <th>Uno</th>
                        <th>Dos</th>
                        <th>Tres</th>
                        <th>Cuatro</th>
                        <th>Total</th>
                        <th>Ban</th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="script/block_ip.js"></script>