<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Snort Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="materialize/css/materialize.css">
  <link rel="stylesheet" href="materialize/css/custom.css">
  <script src="materialize/js/materialize.js"></script>
  <script src="lib/Chart.js"></script>
  <script src="lib/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="script/global-init.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="black_title">
      <div class="nav-wrapper navbar-fixed">
        <a href="#!" class="brand-logo center"><span class="hide-on-small-only">Snort - </span><%= info %></a>
        <a data-target="side-nav" class="sidenav-trigger pointer always-visible"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <ul id="side-nav" class="sidenav">
    <li><a href="/overview"><i class="material-icons">home</i>Overview</a></li>

    <li><a href="/tableview"><i class="material-icons">grid_on</i>Tables</a></li>

    <li><a href="/ban"><i class="material-icons">block</i>Block IP</a></li>
  </ul>

  <%- body %>
</body>

</html>