<!DOCTYPE html>
<html lang="en">

<head>
    <title>Snort Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="materialize/css/materialize.css">
    <link rel="stylesheet" href="materialize/css/index.css">
    <script src="materialize/js/materialize.js"></script>
    <script src="lib/axios.min.js"></script>
</head>

<body class="black" id="body">
    <div class="bg_image full_back"></div>
    <div class="row full_height no_margin_padding login-cont">
        <div class="col s12 m6 l4 xl4 black_side full_height">
            <div class="title show-on-small" style="display:none;"><h3 class="white-text center">Snort Log Viewer</h3></div>
            <div class="panel">
                <h4 class="white-text">
                    Login
                </h4>
                <div class="row no_margin_padding">
                    <div class="margin-med">
                        <div class="input-field">
                            <input id="username" type="text" class="validate white-text">
                            <label for="username">Usuario</label>
                        </div>
                    </div>
                </div>
                <div class="row no_margin_padding">
                    <div class="margin-med">
                        <div class="input-field">
                            <input id="password" type="password" class="validate white-text">
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                </div>
                <div class="row no_margin_padding">
                    <a id="login" class="waves-effect waves-light btn white_border col s12">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col m6 l8 xl8 hide-on-small-only full_height">
            <div class="panel-title"><span class="white-text center">Snort Log Viewer</span></div>
        </div>
    </div>
</body>
    <script src="script/login.js"></script>
</html>