<%- layout('dashboard_layout') %>

<div class="container">

    <div class="row  white-text">
        <div class="col s12 margin_top">
            <ul class="tabs black">
                <li class="tab col s4"><a class="active white-text" href="#priorirty">Por Prioridad</a></li>
                <li class="tab col s4"><a class="white-text" href="#atacantes">Top Atacantes</a></li>
                <li class="tab col s4"><a class="white-text" href="#types">Top Ataques</a></li>
            </ul>
        </div>
        <div id="priorirty" class="col s12 padding_top">
            <h5 class="white-text">Ataques por prioridad</h5>
            <div class="row">
                <div class="col s12">
                    <canvas id="myChart" width="" height=""></canvas>
                </div>
            </div>
        </div>
        <div id="atacantes" class="col s12 padding_top">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Top 10 atacantes</h5>
                    <canvas id="topten" width="" height=""></canvas>
                </div>
            </div>
        </div>
        <div id="types" class="col s12 padding_top">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Top 10 Tipos de ataque</h5>
                    <canvas id="toptenattacks" width="" height=""></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="script/overview.js"></script>