<%- layout('dashboard_layout') %>
<div class="container">
    <div class="row">
        <h5 class="white-text center">Configuración de la tabla</h5>
        <div class="col s12 m5">
            <h5 class="white-text">Fecha</h5>
            <form id="timeSearch">
                <p>
                    <label>
                        <input name="dateParam" value="all" type="radio" checked />
                        <span>Desde el origen de los tiempos</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="dateParam" value="oneDay" type="radio" />
                        <span>Dia Exacto</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="dateParam" value="range" type="radio" />
                        <span>Rango</span>
                    </label>
                </p>
            </form>
            <div>
                <input disabled id="start" type="text" class="datepicker white-text" placeholder="Fecha Inicial">
            </div>
            <div>
                <input disabled id="end" type="text" class="datepicker white-text" placeholder="Fecha final">
            </div>
        </div>
        <div class="col s12 m5">
            <h5 class="white-text">Prioridad</h5>
            <form action="#">
                <p>
                    <label>
                        <input id="zero" type="checkbox" checked />
                        <span>0</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="one" type="checkbox" checked />
                        <span>1</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="two" type="checkbox" checked />
                        <span>2</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="three" type="checkbox" checked />
                        <span>3</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input id="four" type="checkbox" checked />
                        <span>4</span>
                    </label>
                </p>
            </form>
        </div>
        <div class="col s12 m2">
            <h5 class="white-text">Tabla</h5>
            <div class="row no_margin_padding">
                <a id="setFilters" class="waves-effect waves-light btn white_border col s12">Generar Tabla</a>
            </div>
            <div class="row no_margin_padding">
                <a id="updateData" class="waves-effect waves-light btn white_border col s12">Actualizar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="highlight white-text responsive-table">
            <thead>
                <tr>
                    <th>Marca de tiempo</th>
                    <th>Titulo</th>
                    <th>Clasificación</th>
                    <th>Pri.</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Puerto</th>
                    <th>Tipo</th>
                    <th>Intentos</th>
                </tr>
            </thead>

            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</div>
<script src="script/tableview.js"></script>