#toast-container
    top: auto !important
    right: auto !important
    bottom: 10% !important
    left: 5%
    width: 300px !important
    .toast
        background: black
        font-weight: bold

@media only screen and (max-width: 600px)
    .toast 
        width: 300px !important