body, html
    background-color: #333333

@import _toastStyle

tr
    border-bottom: 1px solid #a19e9d

.black_title
    background: black
    border-bottom: white 1px solid

.rectify-padding
    padding: 0 16px

.card
    padding: 10px 16px
    text-align: center
    font-size: 16px
    font-weight: bold

.pointer
    cursor: pointer

.padding_top
    padding-top: 20px !important

.margin_top
    margin-top: 20px !important

.indicator
    background-color: white !important

.white_border
    border: 2px solid white
    background: rgba(0,0,0,0)

.btn:hover
    background: rgba(255,255,255,1)
    border: 2px solid black
    color: black

.btn:focus
    background: rgba(0,0,0,0)
    color: white
@media only screen and (min-width: 993px)
    nav a.sidenav-trigger 
        display: block
    