body, html {
  background-color: #333333;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10% !important;
  left: 5%;
  width: 300px !important;
}

#toast-container .toast {
  background: black;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 300px !important;
  }
}

tr {
  border-bottom: 1px solid #a19e9d;
}

.black_title {
  background: black;
  border-bottom: white 1px solid;
}

.rectify-padding {
  padding: 0 16px;
}

.card {
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.padding_top {
  padding-top: 20px !important;
}

.margin_top {
  margin-top: 20px !important;
}

.indicator {
  background-color: white !important;
}

.white_border {
  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
}

.btn:hover {
  background: white;
  border: 2px solid black;
  color: black;
}

.btn:focus {
  background: rgba(0, 0, 0, 0);
  color: white;
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: block;
  }
}
/*# sourceMappingURL=custom.css.map */