* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10% !important;
  left: 5%;
  width: 300px !important;
}

#toast-container .toast {
  background: black;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 300px !important;
  }
}

.no_margin_padding {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  height: 100vh;
}

.bg_image {
  background: url("/res/bg.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login-cont {
  z-index: 99;
}

.full_height {
  height: 100%;
  min-height: 100% !important;
}

.panel {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  padding: 10px 20px !important;
}

.panel-title {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  padding: 10px 20px !important;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.7);
}

.title {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
}

.black_side {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(35%, rgba(0, 0, 0, 0.908001)), color-stop(60%, rgba(0, 0, 0, 0.78195)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.908001) 35%, rgba(0, 0, 0, 0.78195) 60%, rgba(0, 0, 0, 0) 100%);
}

.white_border {
  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
}

.btn:hover {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  color: black;
}

@media only screen and (min-width: 1380px) {
  .bg_image {
    background-size: 100% 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */