*
    box-sizing: border-box

@import _toastStyle

.no_margin_padding
    margin: 0 !important
    padding: 0 !important

body
    height: 100vh

.bg_image
    background: url("/res/bg.jpeg")
    background-repeat: no-repeat
    background-size: auto 100%
    background-position: center
    filter: blur(2px)
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1

.login-cont
    z-index: 99 

.full_height
    height: 100%
    min-height: 100% !important

.panel
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 300px
    padding: 10px 20px !important

.panel-title
    position: relative
    display: inline-block
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    font-size: 35px
    padding: 10px 20px !important
    border: 2px solid white
    background: rgba(0,0,0,0.7)    

.title
    position: absolute
    top: 15px
    left: 0
    width: 100%

.black_side
    background: rgb(0,0,0)
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.908000700280112) 35%, rgba(0,0,0,0.7819502801120448) 60%, rgba(0,0,0,0) 100%)

.white_border
    border: 2px solid white
    background: rgba(0,0,0,0)

.btn:hover
    background: rgba(255,255,255,0.8)
    border: 2px solid black
    color: black


@media only screen and (min-width: 1380px)
  .bg_image
    background-size: 100% 100% !important